/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

//============================================================

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

@font-face {
	font-family: 'SmartFont';
	src: url('../../fonts/Quinsi.ttf') format('truetype');
}

@font-face {
	font-family: 'SubFont';
	src: url('../../fonts/Streetwear.otf') format('truetype');
}

@font-face {
	font-family: 'Cool';
	src: url('../../fonts/coolvetica rg.otf') format('truetype');
}

body {
	font-family: 'Poppins', sans-serif;
	color: map-get($colour-palette, 'text');
	overflow-y: auto;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 0.4em;
}

body::-webkit-scrollbar-track {
	background-color: #fff;
}

body::-webkit-scrollbar-thumb {
	background-color: #6c757d;
	border-radius: 0.25em;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

@mixin app-font {
	font-family: Cool;
	color: $sub-text;
	font-size: 18px;
	letter-spacing: 0.5px;

	@include md {
		font-size: 20px;
		letter-spacing: 1px;
	}
}

.app {
	height: 100vh;
	width: 100vw;

	&__parent {
		height: auto;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__main {
		height: 100vh;
		width: 100%;
		background-color: map-get($colour-palette, 'text');
	

		&-btn {
			@include flex-row-center(space-between);

			i {
				background-color: transparent;
				border-radius: 5px;
				position: relative;
				top: -5px;
				padding: 0 5px 0 5px;
				transition: background-color 250ms ease-in-out;

				@include md {
					top: -8px;
				}
			}

			i:hover {
				background-color: rgba(240, 243, 245, 0.9);
			}
		}

		&-view {
			position: relative;
			width: 100%;

			.container.limiter {
				max-width: 744px;
			}
		}
	}

	&__font {
		@include app-font;

		&-title {
			@include app-font;
			position: relative;
			top: -30px;
			padding-left: 0;
		}
	}

	&__dots {
		font-size: 25px;
		color: #6c757d;
		line-height: 45px;
		margin-right: 5px;
		cursor: pointer;

		@include md {
			font-size: 30px;
		}
	}

	&__data {
		width: 100%;
		@include flex-row-center;
		&-container {
			background-color: $base-colour;
			margin: 80px 12px 0 12px;
			width: 720px;
			@include sm {
				margin: 80px 20px 0 20px;
			}
		}
	}
}
