// ============================
// BUTTONS
// ============================

.base-btn {
	background-color: $base-btn-colour;
	font-size: 14px;
	color: $dark-text;
	border-radius: 4px;
	margin: 10px;
	transition: all 500ms;
	cursor: pointer;

	&:hover {
		background-color: map-get($colour-palette, 'light-2');
		color: $dark-text;
	}

	&-login {
		@extend .base-btn;
		@include xs {
			margin: 10px 20px 10px 10px;
		}
	}

	&-form {
		@extend .base-btn;
		padding: 10px;
		border: none;
		font-size: 14px;
		line-height: 20px;
		vertical-align: middle;

		&-cropLeft {
			@extend .base-btn-form;
			margin-left: 0;
		}
		&-cropRight {
			@extend .base-btn-form;
			margin-right: 0;
		}
	}

	.contained-Lt {
		margin-left: 0px;
	}

	.contained-Rt {
		margin-right: 0px;
	}
}

.upload-focus:focus {
	border-color: #51ef63;
	box-shadow: 0 0 0 0.2rem rgba(81, 239, 99, 0.5);
	@extend .base-btn-form-cropRight;
}

// ==============================
// HEADER
// ==============================

.header {
	@include flex-column-center;
	background-color: $base-colour;

	@include md {
		min-height: 145px;
	}

	&__title {
		width: 100%;
		@include flex-row-center(space-between, flex-start);
		height: 50px;
		margin-top: 10px;

		@include sm {
			margin-top: 15px;
		}

		@include md {
			margin-top: 20px;
		}

		&-font {
			font-family: SmartFont;
			font-size: 35px;
			margin-left: 10px;
			@include sm {
				font-size: 40px;
				margin-left: 15px;
			}
			@include md {
				font-size: 60px;
				margin-left: 15px;
			}
		}

		&-icons {
			width: 100%;
			line-height: 50px;
			@include flex-row-center(flex-end, center);
			margin-right: 5px;
			i {
				font-size: 20px;
			}
			@include md {
				height: 72px;
				i {
					font-size: 23px;
				}
			}
		}
	}
	&__text {
		line-height: 18px;
		letter-spacing: 0.5px;
		margin: 0 7px 15px 10px;
		@include sm {
			margin-left: 15px;
		}
		@include md {
			max-width: 720px;
			font-size: 18px;
			line-height: 20px;
			margin: 20px;
		}
		@include lg {
			margin-top: 30px;
			font-size: 20px;
			line-height: 22px;
		}
	}
}

.icon-mg {
	margin-left: 10px;
	margin-right: 10px;

	@include md {
		margin-left: 15px;
		margin-right: 15px;
	}
}

// ============================
// TABS
// ============================

$tab-font-sz: 16px;

@mixin base-tab(
	$my-col: $dark-text,
	$my-hov-col: $dark-text,
	$my-a-col: $dark-text
) {
	color: $my-col;
	font-size: $tab-font-sz;
	cursor: pointer;
	transition: all 500ms;
	&:hover {
		background-color: map-get($colour-palette, 'light-1');
		color: $my-hov-col;
	}

	p {
		padding: 0.25rem;
	}
}
.tabs {
	width: 100%;
	@include flex-row-center(space-between);
	margin: 30px 0 20px 10px;
	@include xxl {
		margin: 30px 0 40px 10px;
	}

	&__base {
		&-active {
			@include base-tab($base-text, $dark-text, $base-text);
			background-color: $base-colour;
		}
		&-nonActive {
			@include base-tab();
			background-color: map-get($colour-palette, 'light');
		}
	}
}

.tabs .card {
	flex: 1 0 68px;
}

.custom-card .card-body {
	@include xxs {
		padding: 10px;
		font-size: 12px;
	}
	@include xs {
		padding: 12px;
		font-size: 16px;
	}
	@include sm {
		padding: 18px 12px;
	}
	@include breakpoint(768px) {
		padding: 25px 5px;
	}
	@include md {
		padding: 30px 0;
	}
	@include xxl {
		padding: 35px 0;
		font-size: 20px;
	}
}

p.card-text {
	text-align: center;
	@include breakpoint(768px) {
		font-size: 18px;
	}
	@include xxl {
		font-size: 20px;
	}
}

.badge {
	--bs-badge-padding-x: 0.8em;
	--bs-badge-padding-y: 0.4em;
	--bs-badge-border-radius: 3px;
	position: relative;
	top: -25px;
	left: -15px;
	background-color: #d28266;
	padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
	border-radius: var(--bs-badge-border-radius);

	@include sm {
		top: -30px;
		left: -20px;
	}
	@include breakpoint(768px) {
		font-size: 14px;
		top: -35px;
	}
	@include md {
		top: -40px;
	}
	@include lg {
		font-size: 16px;
	}
	@include xxl {
		top: -45px;
	}
}

// ============================
// LOGO
// ============================

.logo {
	margin: 10px 0 0 10px;

	img {
		height: 45px;
		width: 45px;
	}

	@include sm {
		margin-left: 15px;
	}

	@include md {
		img {
			height: 50px;
			width: 50px;
		}
	}

	@include lg {
		img {
			height: 60px;
			width: 60px;
		}
	}

	@include xxl {
		img {
			height: 70px;
			width: 70px;
		}
	}
}

// ================================
// SEARCH BAR
// ==================================

.search__label,
.search__input {
	font-size: 14px;
}

// ===============================
// LOGIN/PROFILE MENU
// ================================

$menu-top: 15px;
$menu-base-height: 100%;

.menu {
	background-color: #fff;
	position: absolute;
	top: -15px;
	max-width: 720px;
	height: calc(#{$menu-top} + #{$menu-base-height});
	z-index: 99;

	@include xs {
		$menu-top: 12px;
		top: -12px;
		height: calc(#{$menu-top} + #{$menu-base-height});
	}

	&__login {
		width: 100%;
		height: 38px;
		@include flex-row-center(flex-start);
		margin-bottom: 20px;

		&-title {
			line-height: 54px;
			@include app-font;
			position: relative;
		}
		&-bg {
			background-color: #acc4bc;
			padding: 25px 0 20px 0;
			border-radius: 5px;
			margin: 0 10px 20px 10px;

			@include xs {
				margin: 0 20px 20px 20px;
			}

			@include sm {
				margin: 0 30px 20px 30px;
			}
		}

		&-section {
			@include flex-column-center;
		}

		&-label {
			width: 90%;
			margin-bottom: 10px;
			@include flex-row-center(flex-start);
		}
	}

	&__btn {
		@include flex-row-center(flex-end);
	}
}

.active {
	animation: slideIn 0.4s ease-out forwards;
	@include lg {
		animation: slideInLg 0.4s ease-out forwards;
	}
}

.notActive {
	animation: slideOut 0.4s ease-out forwards;
	@include lg {
		animation: slideOutLg 0.4s ease-out forwards;
	}
}

@keyframes slideIn {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideOut {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}

.form-control.limiter {
	max-width: 90%;
}

$element-width: 720px;
$screen-width: 100vw;
$difference: calc(#{$screen-width} - #{$element-width});
$combined: calc(#{$element-width} + #{$difference});

@keyframes slideInLg {
	0% {
		transform: translateX(#{$combined});
	}
	100% {
		transform: translateX(#{$difference});
	}
}

@keyframes slideOutLg {
	0% {
		transform: translateX(#{$difference});
	}
	100% {
		transform: translateX(#{$combined});
	}
}

.profile {
	&__main {
		padding: 16px 10px 0 10px;
		margin-top: 20px;
		margin-bottom: 20px;
		cursor: pointer;
		border-radius: 4px;
		background-color: $card-colour;

		&-flex {
			@include flex-row-center(flex-start);
		}
	}

	&__form {
		&-img {
			@include flex-row-center(space-between);
		}
		&-icon {
			font-size: 20px;
			margin-right: 10px;
			color: #fff;
		}
		&-iconAdjust {
			@extend .profile__form-icon;
			position: relative;
			top: 2px;
		}
		&-uploadLabel {
			input[type='file'] {
				display: none;
			}
		}
		&-dummy {
			display: block;
			height: 0px;
			z-index: 99;
			background-color: #c9d3cc;
			animation: animateMenu 250ms linear forwards;
		}
		&-dummyReverse {
			@extend .profile__form-dummy;
			height: 336px;
			animation: reverseAnimateMenu 250ms linear forwards;
		}
		&-dummyDelete {
			@extend .profile__form-dummy;
			animation: animateDeleteMenu 250ms linear forwards;
		}
		&-dummyReverseDelete {
			@extend .profile__form-dummy;
			height: 152px;
			animation: reverseAnimateDeleteMenu 250ms linear forwards;
		}
		&-dummyLogin {
			@extend .profile__form-dummy;
			animation: animateLoginMenu 250ms linear forwards;
		}
		&-dummyReverseLogin {
			@extend .profile__form-dummy;
			height: 250px;
			animation: reverseAnimateLoginMenu 250ms linear forwards;
		}
		&-dummySignUp {
			@extend .profile__form-dummy;
			animation: animateSignUpMenu 250ms linear forwards;
		}
		&-dummyReverseSignUp {
			@extend .profile__form-dummy;
			height: 400px;
			animation: reverseAnimateSignUpMenu 250ms linear forwards;
		}
		&-hide {
			display: none;
		}
		&-pw {
			width: 100%;
			margin-top: 20px;
			@include flex-column-center();
			display: none;
		}
		&-pwLabel {
			width: 100%;
			margin: 0 0 15px 0;
			font-size: 14px;
			background-color: #95af9f;
			padding: 10px 15px 20px 15px;
			border-radius: 4px;
			opacity: 0;
			input.pwInput {
				margin-left: none;
				margin-top: 10px;
				border: none;
				border-bottom: none;
				border-radius: 4px;
				width: 100%;
				height: 23px;
				transition: border-bottom 200ms ease-in;
				&[data-input-warning=true] {
					border-bottom: 2px solid red;
				}
				&[data-input-warning=false] {
					border-bottom: 2px solid green;
				}
			}
		}
		&-pwLabel0 {
			@extend .profile__form-pwLabel;
			animation: animateLabels 250ms linear 100ms forwards;
		}
		&-pwLabel1 {
			@extend .profile__form-pwLabel;
			animation: animateLabels 250ms linear 200ms forwards;
		}
		&-pwLabel2 {
			@extend .profile__form-pwLabel;
			animation: animateLabels 250ms linear 300ms forwards;
		}
		&-pwLabel3 {
			@extend .profile__form-pwLabel;
			animation: animateLabels 250ms linear 400ms forwards;
		}

		&-pwBtn {
			width: 100%;
			@include flex-row-center(flex-end);
			position: relative;
			left: 10px;
			opacity: 0;
			animation: animateLabels 250ms linear 400ms forwards;
		}

		&-pwSpan {
			width: 100%;
			@include flex-row-center(space-between);

			i {
				color: #fff;
				font-size: 16px;
				cursor: pointer;
				transition: color 500ms ease-out;
			}
			i:hover {
				color: #212529;
			}
		}

		&-uploadSection {
			display: flex;
			align-items: center;
			font-size: 12px;
		}

		&-uploadHide {
			height: 20px;
			width: 20px;
			background-color: #c9d3cc;
			position: relative;
			top: 20px;
			z-index: 99;
		}
		&-uploadIcon {
			color: green;
			font-size: 20px;
			position: relative;
			top: 0px;
			left: -20px;
			animation: uploadSlide 5s ease-in-out 1 forwards;
		}
		&-deleteAc {
			margin-top: 20px;
		}
		&-deleteLabel {
			@extend .profile__form-pwLabel;
			margin-bottom: 0px;
			opacity: 1;
		}
		&-deleteBtn {
			// @include flex-row-center(flex-end);
			@extend .profile__form-pwBtn;
		}
		&-deleteDummy {
			@extend .profile__form-dummy;
			animation: animateDeleteMenu 250ms linear forwards;
		}
	}

	&__img {
		@include flex-column-center;
		background: linear-gradient($base-colour, $gradient-colour);
		border-radius: 4px;
		height: auto;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	&__text {
		font-size: 14px;
		letter-spacing: 1px;
		padding: 5px;
		font-weight: bold;
	}
}

@keyframes uploadSlide {
	0% {
		top: 20px;
	}
	10% {
		top: 0px;
	}
	90% {
		top: 0px;
	}
	100% {
		top: 20px;
	}
}

@keyframes animateMenu {
	0% {
		height: 0px;
	}
	100% {
		height: 336px;
	}
}

@keyframes reverseAnimateMenu {
	0% {
		height: 336px;
	}
	100% {
		height: 0px;
	}
}

@keyframes animateDeleteMenu {
	0% {
		height: 0px;
	}
	100% {
		height: 152px;
	}
}

@keyframes reverseAnimateDeleteMenu {
	0% {
		height: 152px;
	}
	100% {
		height: 0px;
	}
}

@keyframes animateLoginMenu {
	0% {
		height: 0px;
	}
	100% {
		height: 250px;
	}
}

@keyframes reverseAnimateLoginMenu {
	0% {
		height: 250px;
	}
	100% {
		height: 0px;
	}
}

@keyframes animateSignUpMenu {
	0% {
		height: 0px;
	}
	100% {
		height: 400px;
	}
}

@keyframes reverseAnimateSignUpMenu {
	0% {
		height: 400px;
	}
	100% {
		height: 0px;
	}
}

@keyframes animateLabels {
	0% {
		opacity: 1;
		transform-origin: top;
		transform: rotateX(-90deg);
	}
	100% {
		transform: rotateX(0);
		opacity: 1;
	}
}

.plus {
	height: 100%;
	align-items: center;
}

// ==============================
// DATA CARDS
// ==============================

.data {
	&__card {
		@include flex-column-center(center, space-between);
		margin-top: 10px;
		padding: 30px 10px 15px 10px;
		border-radius: 4px;
		width: 260px;
		min-height: 340px;

		&-placeholder {
			height: 185px;
			width: 120px;
			background-color: #ddd;
			@include flex-column-center;
			justify-content: center;
			line-height: 18px;
		}

		&-info {
			@include flex-column-center;
			margin-top: 10px;
			text-align: center;
		}

		&-author {
			margin-top: 5px;
		}

		&-btns {
			@include flex-row-center;
		}
	}
}

// ============================================
// SORT BTNS
// ============================================

.sort {
	@include flex-row-center(flex-end);

	&__btns {
		width: 100%;
		@include flex-row-center(flex-end);
	}

	&__labels {
		background-color: map-get($colour-palette, 'light-3');
		color: $dark-text;
		// opacity: 0.9;
		&:hover {

			 background-color: map-get($colour-palette, 'light');
	
		}
	}
	
}

// ==========================================
// TOAST
// ==========================================

.toast {
	position: fixed;
	top: 20px;
	right: 20px;
	border-radius: 5px;
	z-index: 999;

	&-header {
		justify-content: space-between;
		border-radius: 5px;
		background-color: transparent;
		color: white;
		font-size: 16px;
	}

	&__section {
		height: 100%;
		width: 100%;
		@include flex-row-center;
	}

	&__text {
		width: 100%;
		@include flex-column-center(flex-start);
		margin-left: 20px;
		letter-spacing: 0.5px;

		p:first-child {
			font-weight: bold;
			margin-bottom: 5px;
			font-size: 18px;
		}
	}

	&__icon {
		height: 100%;
		.bi {
			font-size: 25px;
			color: white;
		}
	}
}

// =====================================
// SPINNER
// =====================================

.spinner {
	border: 10px solid #bdc3c7;
	margin: auto;
	width: 50px;
	height: 50px;
	border-top-color: #1abc9c;
	border-bottom-color: #3498db;
	border-radius: 50%;
	animation: spin 1.5s linear infinite;
}

@keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }