$colour-palette: (
    "base": #5c8c6c,
    "dark": #212121,
    "dark-1": #34463c,
    "dark-2": #3e4e45,
    "dark-3": #324434,
    "light":  #c9d3cc,
    "light-1": #95af9f,
    "light-2": #a9c4b3,
    "light-3": #acc4bc,
    "text": #fff,
); 

$base-colour: #5c8c6c;
$gradient-colour: #95af9f;
$base-text: #fff;
$dark-text: #212121;
$sub-text: #565e64;
$base-btn-colour: #95af9f;
$card-colour: #c9d3cc;

$tabs-mg: 5px;


@mixin flex-column-center ($justify: center) {
    display: flex;
    flex-direction: column;
    align-items: $justify;
  };

  @mixin flex-row-center($justify:center, $justifyAlign: center) {
    display: flex;
    justify-content: $justify;
    align-items: $justifyAlign;
  }
