@import '../frontend/node_modules/bootstrap/scss/bootstrap.scss';

.dropdown-menu {
    position: absolute;
    display: none;
    text-align: right;
    list-style: none;
    background-color: transparent;
    border: none;
    border-radius: var(--bs-dropdown-border-radius);
  }